<header class="topbar_nav">
    <div class="topbar_nav__container">
        <div class="logo">
            <figure></figure>
        </div>
        <div>
            <object type="image/svg+xml" data="/img/icons/helpericon.svg"></object>
        </div>

    </div>
</header>
